
body {
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    padding: 3% 15%;
}
#title {
    background-color: #ff4c68;
    color: azure;
}
h1 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}
.navbar {
    font-family: 'Ubuntu', sans-serif;
}